@using Market.Core.Application.ViewModels.Articulos;
@model SaveArticulosViewModel;
@{
    ViewData["Title"] = "Eliminar Articulo";
}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-light font-weight-bold">
                <h4>Está seguro que quiere eliminar el articulo @Model.Nombre?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Articulos" asp-action="EliminarA">                 

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                    <a asp-controller="Articulos" asp-action="Index" class="btn btn-outline-success">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>