@using Market.Core.Application.ViewModels.Usuarios;
@model LoginUsersViewModel
@{
    ViewData["Title"] = "Login";
}
<body class="bg-registro">        
    <div id="contenedor">
       <div id="central">
           <div id="login">
              <div>
                <h2 class="titulo">Market-Login</h2>
              </div>
              @Html.ValidationSummary(false,"",new{@Class = "text-danger"})
              <form method="post" asp-controller="Usuarios" asp-action="#" id="loginform">            
                
                <input class="cajas" type="text" asp-for="Username" placeholder="Nombre de usuario" required>

                <input asp-for="Contrasena" class="cajas" type="password" placeholder="Contraseña" required>
                        
                <button class="btn-regis" type="submit" title="Ingresar" name="Ingresar">Acceder</button>
              </form>
              <div class="pie-form">
                <!-- <a href="#">¿Perdiste tu contraseña?</a>-->
               <a asp-controller="Usuarios" asp-action="RegisUsers">¿No tienes Cuenta? Registrate</a>
              </div>
           </div>                
       </div>
    </div>            
</body>